@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="col-md-offset-4 col-md-4">
    <div class="tile">
        <hgroup class="title">
            <h3>@ViewBag.Title.</h3>
        </hgroup>
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</div>