<appSettings>
  <add key="username" value="rhksoftdev@gmail.com"/>
  <add key="password" value="yoinkrprfuddsfht"/>
  <add key="emailFrom" value="EMS &lt;rhksoftdev@gmail.com&gt;"/>
  <add key="emailto" value="rhksoftdev@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
</appSettings>