<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

<div class="row">
    <div class="widget">
        <div class="center">
            <button id="gobackYr" class="btn btn-sm">< Year</button>
            <span class="fontOutline"> Monthly Expenses, Income and Budget for <span id="year"style="color:blue"></span></span>
            <button id="goforwardYr" class="btn btn-sm">Year ></button>
        </div>
        <div class="widget-body">
            <div id="MonthlyChart">
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="~/Scripts/AnnualBudgetChartStuff.js"></script>




